<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Insert Book</h1>

    <!-- Form for inserting a new book -->
    <section>
      <form id="insert-form">
        <label for="title">Book Title:</label>
        <input type="text" id="title" name="title" />

        <label for="author">Author:</label>
        <input type="text" id="author" name="author" />

        <label for="genre">Genre:</label>
        <input type="text" id="genre" name="genre" />

        <label for="description">Description:</label>
        <textarea id="description" name="description"></textarea>

        <label for="status">Status:</label>
        <select id="status" name="status">
          <option value="unread">Unread</option>
          <option value="read">read</option>
        </select>

        <label for="image">Image URL:</label>
        <input type="text" id="image" name="image" />

        <label for="price">Price:</label>
        <input type="number" id="price" name="price" />

        <button type="submit">Add Book</button>
      </form>
    </section>
  </body>
</html>
